<style>
    card {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
    border-radius: 4px;
    transition: .2s ease-out .0s;
    color: #7a8e97;
    background: #fff;
    padding: 1rem;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    }
    .mhs-item-img {
        max-width:15rem;
        max-height:15rem;
    }
    card.mhs-card > div{
        text-align: center;
        padding: 0.5rem;
    }
    statistic{
        display: block;
    }
</style>

<div class="container mundb-standard-container"> 
    <h3 class="mhs-title mb-5 mt-5">物品详情</h3>
    <{if $item_info["scode"] == -1}>
    <h5 class="mhs-title mb-5 mt-5 text-danger">抱歉，该物品已下架。</h5>
    <{/if}>
    <card class="mhs-card">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-12">
                <img src="<{$MHS_DOMAIN}>/pic/<{$iid}>?size=400" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-9 col-sm-12 col-12">
                <h4 class="text-left"><{$item_info["name"]}></h4>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th scope="row"><i class="MDI clock"></i>发布时间</th>
                            <td><{$item_info["create_time"]}></td>
                        </tr>
                        <tr>
                            <th scope="row">借用时限</th>
                            <{if $item_info["limit_time"] !=0 }>
                            <td><{$item_info["limit_time"]}>天</td>
                            <{else}>
                            <td>无限制</td>
                            <{/if}>
                        </tr>
                        <{if $item_info["scode"] != -1}>
                        <tr>
                            <th scope="row">当前库存</th>
                            <td><{$item_info["count"]}></td>
                        </tr>
                        <{/if}>
                        <tr>
                            <th scope="row">信用分限制</th>
                            <td>大于 <{$item_info["credit_limit"]}></td>
                        </tr>
                        <tr>
                            <th scope="row">物品地点</th>
                            <td><{$item_info["location"]}></td>
                        </tr>
                        <tr>
                            <th scope="row">出借笔数</th>
                            <td><{$item_info["order_count"]}></td>
                        </tr>
                        <tr>
                            <th scope="row">好评数</th>
                            <td><{$item_info["gcount"]}></td>
                        </tr>
                        <tr>
                            <th scope="row">中评数</th>
                            <td><{$item_info["mcount"]}></td>
                        </tr>
                        <tr>
                            <th scope="row">差评数</th>
                            <td><{$item_info["bcount"]}></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <{if $item_info["scode"] != -1}>
            <div class="col">
                <{if !$isMyItem}>
                <div class="btn-group">
                            <button id="minus0" type="button" class="btn btn-sm btn-outline-secondary" disabled="disabled" onclick="minus(0,<{$item_info['count']}>);
                            ">-</button>        
                            <button id="count0" type="button" class="btn btn-sm btn-outline-secondary">1</button>
                            <button id="add0" type="button"<{if $item_info['count'] == 1}> disabled="disabled" <{/if}> class="btn btn-sm btn-outline-secondary" onclick="add(0,<{$item_info['count']}>);">+</button>
                </div>
                <button type="button" class="btn btn-primary">立即借用</button>
                <button class="btn btn-primary" onclick="addToCart(<{$item_info['iid']}>,0);"><i class="MDI cart"></i>加入购物车</button>
                <{else}>
                <p>这是您发布的物品。</p>
                <button type="button" class="btn btn-primary" onclick="location.href='<{$MHS_DOMAIN}>/item/edit/<{$item_info['iid']}>'">编辑</button>
                <button type="button" class="btn btn-warning" onclick="
                    showDialog('您确定要下架「<{$item_info['name']}>」？<br>此操作不可恢复','下架物品','removeItem(<{$item_info['iid']}>)');"><i class="MDI close-box"></i>下架</button>
                <{/if}>
                <button class="btn btn-primary" onclick=""><i class="MDI share"></i>分享</button>
            </div>
            <{/if}>
        </div>
    </card>
    <card class="mhs-card text-left" id="desc">

    </card>
    <card class="mhs-card">
            <div class="row">
                <div class="col-md-3 col-6">
                    <statistic>
                        <h1><a href="<{$MHS_DOMAIN}>/user/<{$item_info['owner']}>"><{$publisher_info["publisher"]}></a></h1>
                        <p>出借者</p>
                    </statistic>
                </div>
                <div class="col-md-3 col-6">
                    <statistic>
                        <h1><{$publisher_info["publisher_credit"]}></h1>
                        <p>出借者信用</p>
                    </statistic>
                </div>
                <div class="col-md-3 col-6">
                    <statistic>
                        <h1><{$publisher_info["publisher_order_count"]}></h1>
                        <p>总出借笔数</p>
                    </statistic>
                </div>
                <div class="col-md-3 col-6">
                    <statistic>
                        <h1><{$publisher_info["publisher_item_count"]}></h1>
                        <p>发布物品数</p>
                    </statistic>
                </div>
            </div>
    </card>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function(){ // 在 DOM 完全加载完后执行
        $('#desc').html(marked("<{$item_info['desc']}>"));
    });

</script>
<script>
    //最好放在cdn上
    <{include file="MHS_Item.js" }>
</script>