<style>
    card {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #fff;
        padding: 1rem;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;
    }

    .mhs-img-detail {
        width:15rem;
        height:15rem;
    }
    
</style>

<div class="container mundb-standard-container">
    <h3 class="mhs-title mb-5 mt-5">发布物品</h3>
    <div id="info">

    </div>
    <card>
        <div class="card-body row">
            <div class="col-md-3 col-sm-12 col-12 text-center" >
                <div class="bg-light mb-4">
                    <img class="mhs-img-detail rounded float-middle broder" id="pic_preview" src="https://static.1cf.co/img/avatar/default.png">
                </div>
                <div class="p-5 text-center">拖动图片到页面或
                    <label class="text-primary">选择图片... <input type="file" class="sr-only" id="pic_upload" accept="image/*" ref="input" onchange="SelectedImg(this.files[0])">
                    </label>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-12">
                <div class="form-group">
                    <label for="item_name" class="bmd-label-floating">物品名称</label>
                    <input type="text" id="item_name" class="form-control">
                    <span class="bmd-help">物品名称包含关键词可以更好地被搜索到哦。</span>
                </div>
                <div class="form-group">
                    <label for="time_limit" class="bmd-label-floating">借用时限</label>
                    <select class="form-control" id="time_limit">
                        <option>1 天</option>
                        <option>3 天</option>
                        <option>7 天</option>
                        <option>15天</option>
                        <option>30天</option>
                        <option>无限制</option>
                    </select>
                    <span class="bmd-help">该物品在"确认借用"后要求在这一时限内归还。</span>
                </div>
                <div class="form-group">
                    <label for="credit_required" class="bmd-label-floating">最低信用</label>
                    <select class="form-control" id="credit_required">
                        <option>无</option>
                        <option>信用良好</option>
                        <option>信用优秀</option>
                        <option>信用极佳</option>
                    </select>
                    <span class="bmd-help">信用分低于该等级的用户将不能借用该物品。</span>
                </div>
                <div class="form-group">
                    <label for="location" class="bmd-label-floating">物品位置</label>
                    <input type="text"  id="location" class="form-control">
                </div>
                <div class="form-group">
                    <label for="number" class="bmd-label-floating">物品数量</label>
                    <input type="number" id="number" class="form-control" value="1">
                </div>
                <div class="form-group">
                    <label for="desc" class="bmd-label-floating">物品介绍</label>
                    <textarea class="form-control" id="desc" rows="10"></textarea>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-outline-primary" onclick="publish()">发布物品</button>
        </div>
    </card>
</div>

<script src="https://fengyuanchen.github.io/compressorjs/js/compressor.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function(){ // 在 DOM 完全加载完后执行
        window.addEventListener('dragover',(e) => {
            e.preventDefault();
        },false);
        window.addEventListener('drop',(e) => {
            e.preventDefault();
            SelectedImg(e.dataTransfer.files[0]);
        },false);
    });
    
    function SelectedImg(file){
        new Compressor(file, { //使用compressor.js压缩图片
            strict: true,
            checkOrientation: true,
            maxWidth: 3000,
            maxHeight: 3000,
            quality: 0.8,
            success(result) {
                $('#pic_preview').attr('src', URL.createObjectURL(result));
            },
            error(err) {
                console.log(err.message);
            },
        });
    };
    
    function publish() {
        //使用Ajax提交，实时返回结果。
        var timelimit_ = parseInt($("#time_limit").val());
        var options=$("#credit_required").index();
        if (options == 1)
            options = 80;
        else if (options == 2)
            options = 100;
        else if (options == 3)
            options = 120;
        $.post("<{$MHS_DOMAIN}>/ajax/PublishItem",{
            name:$("#item_name").val(),
            timeLimit:isNaN(timelimit_) ? 0 : timelimit_,
            location:$("#location").val(),
            creditRequired:options,
            number:$("#number").val(),
            desc:$("#desc").val(),
            //TODO：上传图片
        },function(result){
            $('#info').html("");
            console.log(result);
            result=JSON.parse(result);
            console.log(result);
            if(result.ret==200){
                $('#info').append("    <div class=\"alert alert-success alert-dismissible fade show\" role=\"alert\">\n" +
                    "        <strong>"+ result.desc + "</strong>\n" +
                    "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                    "            <span aria-hidden=\"true\">&times;</span>\n" +
                    "        </button>\n" +
                    "    </div>");
                setTimeout(function(){
                    location.href="<{$MHS_DOMAIN}>/item/detail?iid="+result.data.itemid;
                },1000);
            }
            else
            {
                $('#info').append("    <div class=\"alert alert-warning alert-dismissible fade show\" role=\"alert\">\n" +
                    "        <strong>"+ result.desc + "</strong>\n" +
                    "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                    "            <span aria-hidden=\"true\">&times;</span>\n" +
                    "        </button>\n" +
                    "    </div>");
            }
        });
    }

</script>