<style>
    card {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #fff;
        padding: 1rem;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;
    }

    .mhs-img-detail {
        width:15rem;
        height:15rem;
    }
    @media all and (max-width:1200px) and (min-width:992px){
        .responsive>div{
            min-width: 600px;
            float: right;
        }
        .responsive-text{
            padding: 0 !important;
            width: 15rem;
        }
    }
    @media all and (max-width:992px) and (min-width:768px){
        .responsive>div{
            width: 300px;
            float: right;
        }
        .responsive-text{
            padding: 0 !important;
            width: 15rem;
        }
    }
    
</style>

<div class="container mundb-standard-container">
    <h3 class="mhs-title mb-5 mt-5">发布物品</h3>
    <div id="info">
    </div>
    <card>
        <div class="card-body row">
            <div class="col-md-3 col-sm-12 col-12 text-center" >
                <div class="bg-light mb-4">
                    <img class="mhs-img-detail rounded float-middle broder" id="pic_preview" src="https://static.1cf.co/img/avatar/default.png">
                </div>
                <div class="p-5 text-center responsive-text">
                    <label class="text-primary">
                        拖动图片到页面或点击这里选择图片
                        <input type="file" class="sr-only" id="pic_upload" accept="image/*" ref="input" onchange="SelectedImg(this.files[0])">
                    </label>
                </div>
            </div>
            <div class="responsive col-md-9 col-sm-12 col-12">
                <div class="form-group">
                    <label for="item_name" class="bmd-label-floating">物品名称</label>
                    <input type="text" id="item_name" class="form-control" value="<{$item_info['name']}>">
                    <span class="bmd-help">物品名称包含关键词可以更好地被搜索到哦。</span>
                </div>
                <div class="form-group">
                    <label for="time_limit" class="bmd-label-floating">借用时限</label>
                    <select class="form-control" id="time_limit">
                        <option>1 天</option>
                        <option>3 天</option>
                        <option>7 天</option>
                        <option>15天</option>
                        <option>30天</option>
                        <option>无限制</option>
                    </select>
                    <span class="bmd-help">该物品在"确认借用"后要求在这一时限内归还。</span>
                </div>
                <div class="form-group">
                    <label for="credit_required" class="bmd-label-floating">最低信用</label>
                    <select class="form-control" id="credit_required">
                        <option>无</option>
                        <option>信用良好</option>
                        <option>信用优秀</option>
                        <option>信用极佳</option>
                    </select>
                    <span class="bmd-help">信用分低于该等级的用户将不能借用该物品。</span>
                </div>
                <div class="form-group">
                    <label for="location" class="bmd-label-floating">物品位置</label>
                    <input type="text"  id="location" class="form-control">
                </div>
                <div class="form-group">
                    <label for="number" class="bmd-label-floating">物品数量</label>
                    <input type="number" id="number" class="form-control" value="1">
                </div>
                <div class="form-group">
                    <label for="desc" class="bmd-label-floating">物品介绍</label>
                    <textarea class="form-control" id="desc" rows="10"></textarea>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-outline-primary" onclick="publish()">发布物品</button>
        </div>
    </card>
</div>

<!-- https://github.com/fengyuanchen/compressorjs/ -->
<script src="https://fengyuanchen.github.io/compressorjs/js/compressor.js"></script>

<script>
    const formData = new FormData();

    document.addEventListener('DOMContentLoaded', function(){ // 在 DOM 完全加载完后执行
        window.addEventListener('dragover',(e) => {
            e.preventDefault();
        },false);
        window.addEventListener('drop',(e) => {
            e.preventDefault();
            SelectedImg(e.dataTransfer.files[0]);
        },false);
    });
    
    function SelectedImg(file){
        new Compressor(file, { //使用compressor.js压缩图片
            strict: true,
            checkOrientation: true,
            maxWidth: 3000,
            maxHeight: 3000,
            quality: 0.8,
            success(result) {
                $('#pic_preview').attr('src', URL.createObjectURL(result));
                formData.set('pic', result, result.name); //设置本地压缩后的图片
            },
            error(err) {
                console.log(err.message);
            },
        });
    };
    
    function publish() {
        //使用Ajax提交，实时返回结果。
        var timelimit_ = parseInt($("#time_limit").val());
        var options=$("#credit_required option:selected").index();
        if (options == 1)
            options = 80;
        else if (options == 2)
            options = 100;
        else if (options == 3)
            options = 120;

        formData.set('name',$("#item_name").val());
        formData.set('timeLimit',isNaN(timelimit_) ? 0 : timelimit_);
        formData.set('location',$("#location").val());
        formData.set('creditRequired',options);
        formData.set('number',$("#number").val());
        formData.set('desc',$("#desc").val());

        //https://blog.csdn.net/maxsky/article/details/80629766
        //jQuery 提交 FormData 对象，前方有坑
        $.ajax({ // $.post，告辞
            type: 'post',
            contentType: false, // 关关关！必须得 false
                                // 这个不关会扔一个默认值 application/x-www-form-urlencoded 过去，后端拿不到数据的！
                                // 而且你甚至不能传个字符串 'multipart/form-data'，后端一样拿不到数据！
            processData: false, // 关关关！重点
            url: '<{$MHS_DOMAIN}>/ajax/PublishItem',
            data: formData,
            success: function (result) {
                $('#info').html("");
                console.log(result); //显示bug
                result=JSON.parse(result);
                console.log(result);
                if(result.ret==200){
                    $('#info').append("    <div class=\"alert alert-success alert-dismissible fade show\" role=\"alert\">\n" +
                        "        <strong>"+ result.desc + "</strong>\n" +
                        "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                        "            <span aria-hidden=\"true\">&times;</span>\n" +
                        "        </button>\n" +
                        "    </div>");
                    setTimeout(function(){
                        location.href="<{$MHS_DOMAIN}>/item/detail/"+result.data.itemid;
                    },1000);
                }
                else {
                    $('#info').append("    <div class=\"alert alert-warning alert-dismissible fade show\" role=\"alert\">\n" +
                        "        <strong>"+ result.desc + "</strong>\n" +
                        "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                        "            <span aria-hidden=\"true\">&times;</span>\n" +
                        "        </button>\n" +
                        "    </div>");
                }
            }
        });

    }

</script>