<style>
    <{include file="MHS.css" }>
    avatar{
        display: block;
        position: relative;
        text-align: center;
        height: 8rem;
    }
    avatar > img{
        display: block;
        width:8rem;
        height:8rem;
        border-radius: 2000px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        top:0%;
        left:0;
        right:0;
        margin: auto;
    }
    .avatar-sm {
        height: 5rem !important;
    }
    .avatar-sm > img{
        width:5rem !important;
        height:5rem !important;
    }
    .tab .card-header{
        padding:0;
        border-radius: 4px;
    }
    .tab .card-header > ul{
        margin:0;
    }
    .tab .card-header > ul .nav-link{
        padding:1rem;
    }
    @media all and (min-width:768px){
        .tab .card-header > ul .nav-link{
            font-size: medium;
        }
    }
    .tab .card-header .nav-tabs .nav-link.active {
        color: #D32F2F;
        border-color: #FF5252;
    }
    #userTab{
        position:relative;
    }
    .mhs-item-img {
        max-width:15rem;
        max-height:15rem;
    }
</style>

<div class="container mundb-standard-container"> 
    <h2 class="mhs-title mb-5 mt-5"><{if $isMe}>个人中心<{else}><{$call}>的主页<{/if}></h2>
    <div class="tab">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-justified nav-tabs-material" id="userTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link <{ if $current_tab=='basic' }>active<{/if}>" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">
                        基本信息</a>
                </li>
                <{if $isMe}>
                <!-- <li class="nav-item">
                    <a class="nav-link <{ if $current_tab=='order' }>active<{/if}>" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false">
                        我的订单</a>
                </li> -->
                <{/if}>
                <li class="nav-item">
                    <a class="nav-link <{ if $current_tab=='item' }>active<{/if}>" id="item-tab" data-toggle="tab" href="#item" role="tab" aria-controls="item" aria-selected="false">
                        <{$call}>发布的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <{ if $current_tab=='review' }>active<{/if}>" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">
                        <{$call}>的评价</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="userTabContent">
            <div class="tab-pane fade <{ if $current_tab=='basic' }>show active<{/if}>" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <div class="card-body">
                        <card>
                        <div class="row text-center" style="padding:5%">
                            <div class="col-md-4">
                                <avatar><img src="<{$userinfo['avatar']}>"></avatar>
                                <h3 class="text-center"><{$uinfo['name']}></h3>
                                <p class="text-center"><{$uinfo['real_name']}></p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$uinfo['credit']}></h1>
                                            <p>信用分</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['br_count']}></h1>
                                            <p>借用数</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['pb_count']}></h1>
                                            <p>发布数</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['good_count']}></h1>
                                            <p>好评数</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['mid_count']}></h1>
                                            <p>中评数</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['bad_count']}></h1>
                                            <p>差评数</p>
                                        </statistic>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </card>
                        <{if $isMe}>
                        <card>
                            <div class="row text-center">
                                <div class="col-12">
                                    <h5 class="mt-3 text-primary">我的借用</h5>
                                </div>
                                <div class="col-4">
                                    <statistic>
                                        <h1><{$rent_count['scode1']}></h1>
                                        <p>待取用</p>
                                    </statistic>
                                </div>
                                <div class="col-4">
                                    <statistic>
                                        <h1><{$rent_count['scode2']}></h1>
                                        <p>待归还</p>
                                    </statistic>
                                </div>
                                <div class="col-4">
                                    <statistic>
                                        <h1><{$rent_count['scode3']}></h1>
                                        <p>待评价</p>
                                    </statistic>
                                </div>
                            </div>
                        </card>
                        <card>
                            <div class="row text-center">
                                <div class="col-12">
                                    <h5 class="mt-3 text-primary">我的出借</h5>
                                </div>
                                <div class="col-4">
                                    <statistic>
                                        <h1><{$owner_count['scode1']}></h1>
                                        <p>待对方取用</p>
                                    </statistic>
                                </div>
                                <div class="col-4">
                                    <statistic>
                                        <h1><{$owner_count['scode2']}></h1>
                                        <p>待归还/确认</p>
                                    </statistic>
                                </div>
                                <div class="col-4">
                                    <statistic>
                                        <h1><{$owner_count['scode3']}></h1>
                                        <p>待评价</p>
                                    </statistic>
                                </div>
                            </div>
                        </card>
                        <{/if}>
                    </div>
            </div>
            <{if $isMe}>
            <div class="tab-pane fade <{ if $current_tab=='order' }>show active<{/if}>" id="order" role="tabpanel" aria-labelledby="order-tab">
            </div>
            <{/if}>
            <div class="tab-pane fade <{ if $current_tab=='item' }>show active<{/if}>" id="item" role="tabpanel" aria-labelledby="item-tab">
                <div class="card-body">
                    <{if count($items_info) == 0}>
                    <div class="text-center">
                        <p class="text-primary mt-5 mb-3">这里空空如也，快去发布物品吧～</p>
                        <button type="button" class="btn btn-raised btn-primary" onclick="location.href='<{$MHS_DOMAIN}>/item/new'">发布物品</button>
                        <button type="button" class="btn btn-raised btn-info" onclick="location.href='<{$MHS_DOMAIN}>/'">返回首页</button>
                    </div>
                    <{else}>
                    <div class="row">
                        <{foreach $items_info as $seq => $r}>
                            <{if $r['scode'] != -2}>
                            <{if $isMe}>
                            <div class="col-lg-3 col-md-4 col-6">
                                <card class="item-card text-center mb-3">
                                    <div>
                                    <a class="card-link" href="<{$MHS_DOMAIN}>/item/detail/<{$r['iid']}>"><img class="card-img-top mhs-item-img" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>?size=400"></a>
                                    </div>
                                        <h5 class="card-title mhs-item-text mundb-text-truncate-1"><{$r['name']}></h5>
                                        <{if $r['scode'] == -1}>
                                        <button type="button" class="btn btn-primary mhs-button" onclick="location.href='<{$MHS_DOMAIN}>/item/edit/<{$r['iid']}>'">编辑</button>
                                        <button type="button" class="btn btn-success mhs-button" onclick="
                                        showDialog('您确定要上架「<{$r['name']}>」吗？','上架物品','restoreItem(<{$r['iid']}>)');"><i class="MDI check"></i>上架</button>
                                        <{else}>
                                        <button type="button" class="btn btn-primary mhs-button" onclick="location.href='<{$MHS_DOMAIN}>/item/edit/<{$r['iid']}>'">编辑</button>
                                        <button type="button" class="btn btn-warning mhs-button" onclick="
                                                showDialog('您确定要下架「<{$r['name']}>」吗？','下架物品','removeItem(<{$r['iid']}>)');"><i class="MDI close-box"></i>下架</button>
                                        <{/if}>
                                </card>
                            </div>
                            <{else if $r['scode'] != -1}>
                            <div class="col-lg-3 col-md-4 col-6">
                                <card class="item-card text-center mb-3">
                                    <div>
                                        <a class="card-link" href="<{$MHS_DOMAIN}>/item/detail/<{$r['iid']}>"><img class="card-img-top mhs-item-img" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>?size=400"></a>
                                    </div>
                                    <h5 class="card-title mhs-item-text mundb-text-truncate-1"><{$r['name']}></h5>
                                    <button id="minus<{$seq}>" type="button" class="btn btn-sm btn-primary mhs-button-count" disabled="disabled" onclick="minus(<{$seq}>,<{$r['count']}>);"><strong>-</strong></button>
                                    <button id="count<{$seq}>" type="button" class="btn btn-sm btn-primary mhs-button-count">1</button>
                                    <button id="add<{$seq}>" type="button" <{if $r['count'] < 2}> disabled="disabled" <{/if}> class="btn btn-sm btn-primary mhs-button-count" onclick="add(<{$seq}>,<{$r['count']}>);"><strong>+</strong></button>
                                    <button class="btn btn-primary mhs-button" onclick="">立即借</button>
                                    <button class="btn btn-primary mhs-button" onclick="addToCart(<{$r['iid']}>,<{$seq}>);"><i class="MDI cart"></i></button>
                                </card>
                            </div>
                            <{/if}>
                            <{/if}>
                        <{/foreach}>
                    </div>
                    <{/if}>
                </div>
            </div>
            <div class="tab-pane fade <{ if $current_tab=='review' }>show active<{/if}>" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="card-body p-1">
                    <{if $isMe}>
                    <ul class="nav mt-3 mb-1 justify-content-center" >
                        <li class="nav-item">
                            <a class="nav-link" href="<{$MHS_DOMAIN}>/user?tab=review&review_type=all">全部评价</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<{$MHS_DOMAIN}>/user?tab=review&review_type=me">我给出的</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<{$MHS_DOMAIN}>/user?tab=review&review_type=other">对方给的</a>
                        </li>
                    </ul><{/if}>
                    <hr class="atsast-line">
                    <{if $isMe && $review_type == 'all'}>
                    <{foreach $reviews as $r}>
                    <div class="media ml-3 mb-3">
                        <img class="mhs-item-img-review" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>">
                        <div class="media-body">
                            <h5 class="mt-0 ml-3 text-primary"><a href="<{$MHS_DOMAIN}>/order/view/<{$r['oid']}>"><{$r['name']}></a></h5>
                            <div class="media ml-3 mb-3">
                                <avatar class="avatar-sm mr-3 align-self-start"><img src="<{$userinfo['avatar']}>"></avatar>
                                <div class="media-body">
                                    <h5 class="mt-0 <{if $r['my_review']==1}>text-success<{else if $r['my_review']==0}>text-dark<{else}>text-warning<{/if}>"><{if $userinfo['uid']!=$r['renter_id']}><span class="badge badge-pill badge-dark">出借方</span><{else}><span class="badge badge-pill badge-light">借用方</span><{/if}>我给<{$r['real_name']}>的<{if $r['my_review']==1}>好评<{else if $r['my_review']==0}>中评<{else}>差评<{/if}></h5>
                                    <{if strlen($r['my_review_content'])}><{$r['my_review_content']}><{else}>此用户没有填写评价内容。<{/if}>
                                </div>
                            </div>
                            <div class="media ml-3 mb-3">
                                <avatar class="avatar-sm mr-3 align-self-start"><img src="<{$r['avatar']}>"></avatar>
                                <div class="media-body">
                                    <h5 class="mt-0 <{if $r['other_review']==1}>text-success<{else if $r['other_review']==0}>text-dark<{else}>text-warning<{/if}>"><{if $userinfo['uid']==$r['renter_id']}><span class="badge badge-pill badge-dark">出借方</span><{else}><span class="badge badge-pill badge-light">借用方</span><{/if}><{$r['real_name']}>给我的<{if $r['other_review']==1}>好评<{else if $r['other_review']==0}>中评<{else}>差评<{/if}></h5>
                                    <{if strlen($r['other_review_content'])}><{$r['other_review_content']}><{else}>此用户没有填写评价内容。<{/if}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="atsast-line">
                    <{/foreach}>
                    <{else if $isMe && $review_type == 'me'}>
                    <{foreach $reviews as $r}>
                    <div class="media ml-3 mb-3">
                        <avatar class="avatar-sm mr-3 align-self-start"><img src="<{$userinfo['avatar']}>"></avatar>
                        <div class="media-body">
                            <h5 class="mt-0 text-primary"><a href="<{$MHS_DOMAIN}>/order/view/<{$r['oid']}>"><{$r['name']}></a></h5>
                            <{if strlen($r['content'])}><{$r['content']}><{else}>此用户没有填写评价内容。<{/if}>
                            <br><small class="<{if $r['my_review']==1}>text-success<{else if $r['my_review']==0}>text-dark<{else}>text-warning<{/if}>">我给<{$r['real_name']}>的<{if $r['my_review']==1}>好评<{else if $r['my_review']==0}>中评<{else}>差评<{/if}></small>
                        </div>
                        <img class="mhs-item-img-review" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>">
                    </div>
                    <hr class="atsast-line">
                    <{/foreach}>
                    <{else}>
                    <{foreach $reviews as $r}>
                    <div class="media ml-3 mb-3">
                        <img class="mhs-item-img-review" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>">
                        <div class="media-body mr-3 text-right">
                            <h5 class="mt-0 text-primary"><a href="<{$MHS_DOMAIN}>/order/view/<{$r['oid']}>"><{$r['name']}></a></strong></h5>
                            <{if strlen($r['content'])}><{$r['content']}><{else}>此用户没有填写评价内容。<{/if}>
                            <br><small class="<{if $r['other_review']==1}>text-success<{else if $r['other_review']==0}>text-dark<{else}>text-warning<{/if}>"><{$r['real_name']}>给我的<{if $r['other_review']==1}>好评<{else if $r['other_review']==0}>中评<{else}>差评<{/if}></small>
                        </div>
                        <avatar class="avatar-sm mr-3 align-self-start"><img src="<{$r['avatar']}>"></avatar>
                    </div>
                    <hr class="atsast-line">
                    <{/foreach}>
                    <{/if}>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    <{include file="MHS_Item.js" }>
</script>