<style>
    card {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 20px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #fff;
        padding: 0;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;
    }
    card.img-card{
        padding:0;
        overflow: hidden;
    }

    card.img-card > img{
        width:100%;
    }

    card.img-card > div{
        text-align: center;
        padding:0;
    }

    card.album-selected {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 80px!important;
        transform: scale(1.02);
    }
    card:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 80px;
    }
    h5{
        margin-bottom:0.25rem;
    }
    .form-control:disabled, .form-control[disabled]{
        background-color: transparent;
    }
    input{
        height: calc(2.4375rem + 2px);
    }
    #vscode_container{
        opacity: 0;
        transition: .2s ease-out .0s;
    }
    tips{
        display: block;
        font-size: .75rem;
        color: rgba(0,0,0,.26);
        margin-bottom: .5rem;
    }
    .mhs-title{
        color: #7a8e97;
        text-align:center;
    }

    .atsast-empty{
        justify-content: center;
        align-items: center;
        height: 10rem;
    }

    badge{
        display: inline-block;
        padding: 0.25rem 0.75em;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        vertical-align: baseline;
        border-radius: 0.125rem;
        background-color: #f5f5f5;
        margin: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
    a.card-link{
        padding:0;
    }
    .mhs-item-img-div {
        border-radius: 20px;
    }
    .mhs-item-img {
        object-fit: cover;
    }
    .mhs-button {
        border-radius: 4px;
        padding:0.3rem 0.3rem;
        line-height:2;
    }
    .mhs-button-count {
        font-size: larger;
        padding:0.3rem 0.3rem;
        line-height:2;
    }
    .mhs-item-text {
        margin: 0.1rem;
    }
</style>
<div class="container mundb-standard-container">
        <h5 class="mhs-title mb-5 mt-5"><i class="MDI gift"></i> SAST 物品借还系统</h5>
        <{if $islogin}>
        <div class="input-group text-center">
                <input id="keyword" type="text" class="form-control" placeholder="搜索物品..." aria-describedby="basic-addon1">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-raised btn-success" aria-label="Left Align" onclick="window.location.href='<{$MHS_DOMAIN}>/?keyword='+$('#keyword').val()+'<{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}><{if !empty($args['page'])}>&page=<{$args['page']}><{/if}>'">搜索</button>
                    <a href="<{$MHS_DOMAIN}>/item/new">
                        <button type="button" class="btn btn-raised btn-info" aria-label="Left Align">发布物品</button>
                    </a>
                </div>
        </div>
        <script>
            document.querySelector("#keyword").addEventListener('keyup',function(e){
                if(e.keyCode===13){
                    window.location.href='<{$MHS_DOMAIN}>/?keyword='+$('#keyword').val()+'<{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}><{if !empty($args['page'])}>&page=<{$args['page']}><{/if}>';
                }
            });
        </script>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link <{if $args['sort']==='default' || empty($args['sort'])}> active <{/if}>" href="<{$MHS_DOMAIN}>/index/?sort=default<{if !empty($args['keyword'])}>&page=<{$args['keyword']}><{/if}><{if !empty($args['page'])}>&page=<{$args['page']}><{/if}>">默认排序</a>
                <!--TODO感觉如果上一行那边如果用上三目表达式，应该会更优雅，下同（留下了不学无术的泪水-->
            </li>
            <li class="nav-item">
                <a class="nav-link <{if $args['sort'] === 'bycount'}> active <{/if}>" href="<{$MHS_DOMAIN}>/index/?sort=bycount<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['page'])}>&page=<{$args['page']}><{/if}>">最多借用</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <{if $args['sort'] === 'bycredit'}> active <{/if}> " href="<{$MHS_DOMAIN}>/index/?sort=bycredit<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['page'])}>&page=<{$args['page']}><{/if}>">信用优先</a>
            </li>
            <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">筛选</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">仅看可借用</a>
                        <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">显示无货</a>
                      <a class="dropdown-item" href="#">显示高于当前信用</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">我发布的</a>
                    </div>
                  </li>
        </ul>
        <{if count($items_info) == 0}>
        <br>
        <h5 class="text-center text-warning">没有搜到你找的物品哦。</h5> <!-- 表达来自闲鱼 -->
        <p class="text-center">试试别的关键词</p>
        <{else}>
        <div class="row">
            <{foreach $items_info as $seq => $r}>
            <div class="col-lg-3 col-md-4 col-6">
                <card class="img-card mb-3">
                    <div class="">
                        <a class="card-link" href="<{$MHS_DOMAIN}>/item/detail/<{$r['iid']}>"><img class="card-img-top mhs-item-img mhs-item-img-div" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>?size=400"></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mhs-item-text"><{$r['name']}></h5>
                        <{if !IsMyItem($r['iid'])}>
                        <button id="minus<{$seq}>" type="button" class="btn btn-sm btn-primary mhs-button-count" disabled="disabled" onclick="minus(<{$seq}>);"><strong>-</strong></button>
                        <button id="count<{$seq}>" type="button" class="btn btn-sm btn-primary mhs-button-count">1</button>
                        <button type="button" class="btn btn-sm btn-primary mhs-button-count" onclick="add(<{$seq}>);"><strong>+</strong></button>
                        <button class="btn btn-primary mhs-button" onclick="">立即借</button>
                        <button class="btn btn-primary mhs-button" onclick="addToCart(<{$r['iid']}>,<{$seq}>);"><i class="MDI cart"></i></button>
                        <{else}>
                        <button type="button" class="btn btn-primary mhs-button">编辑</button>
                        <button type="button" class="btn btn-warning mhs-button"><i class="MDI close-box"></i>下架</button>
                        <{/if}>
                        <button class="btn btn-primary mhs-button" onclick=""><i class="MDI share"></i></button>
                        <div class="row">
                            <div class="col-6">
                                <small><{$r['publisher_real_name']}></small>
                            </div>
                            <div class="col-6">
                                <small><{$r['order_count']}> 笔借用</small>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
            <{/foreach}>
        </div>
        <{/if}>
        <br>
        <br>
        <nav aria-label="Page navigation">
            <{if $pager !==null }>
            <ul class="pagination justify-content-center">
                <li class="page-item <{if $pager['current_page'] == $pager['prev_page']}> disabled <{/if}>">
                    <a class="page-link" href="<{$MHS_DOMAIN}>/index/?page=1<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>" tabindex="-1"  aria-disabled="true" >首页</a>
                </li>
                <li class="page-item <{if $pager['current_page'] == $pager['prev_page']}> disabled <{/if}>">
                    <a class="page-link" href="<{$MHS_DOMAIN}>/index/?page=<{$pager['prev_page']}><{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>" tabindex="-1"  aria-disabled="true" >上一页</a>
                </li>
                <{foreach $pager["all_pages"] as $i}>
                    <li class="page-item <{if $i == $pager['current_page']}> active <{/if}> "><a class="page-link" href="<{$MHS_DOMAIN}>/index/?page=<{$i}><{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>"><{$i}></a></li>
                <{/foreach}>
                <li class="page-item <{if $pager['current_page'] == $pager['next_page']}> disabled <{/if}>">
                    <a class="page-link" href="<{$MHS_DOMAIN}>/index/?page=<{$pager['next_page']}><{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>">下一页</a>
                </li>
            </ul>
            <{/if}>
          </nav>
        <{else}>
        <card class="mb-3">
            <div class="row atsast-empty">
                <badge onclick="location.href='<{$MHS_DOMAIN}>/account'"><i class="MDI account-circle"></i> 请先登录才能使用MHS </badge>
            </div>
        </card>
        <{/if}>
</div>

<script>
    function add(i) {
        var count = $('#count' + i).text();
        $('#count' + i).text(++count);
        $('#minus' + i).attr('disabled',false);
    }
    function minus(i) {
        var count = $('#count' + i).text();
        $('#count' + i).text(--count);
        if(count==1)
            $('#count' + i).attr('disabled',true); //防止减到1以下
    }
    function addToCart(id,i) {
        $.post("<{$MHS_DOMAIN}>/ajax/AddToCart",{
            iid:id,
            count:$('#count' + i).text()
        },function(result) {
            console.log(result);
            result = JSON.parse(result);
            console.log(result);
            $.snackbar({content: result.desc,style:"toast text-center atsast-toast"});
        });
    }
</script>