<style>
    card {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #fff;
        padding: 1rem;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;
    }
    card.img-card{
        padding:0;
        overflow: hidden;
        cursor: pointer;
    }

    card.img-card > img{
        width:100%;
        height:10rem;
        object-fit: cover;
    }
    card.img-card > div{
        text-align: center;
        padding: 1rem;
    }

    card.album-selected {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 80px!important;
        transform: scale(1.02);
    }
    card:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 80px;
    }
    h5{
        margin-bottom:1rem;
    }
    .form-control:disabled, .form-control[disabled]{
        background-color: transparent;
    }
    input{
        height: calc(2.4375rem + 2px);
    }
    #vscode_container{
        opacity: 0;
        transition: .2s ease-out .0s;
    }
    tips{
        display: block;
        font-size: .75rem;
        color: rgba(0,0,0,.26);
        margin-bottom: .5rem;
    }
    .mhs-title{
        color: #7a8e97;
        text-align:center;
    }

    .atsast-empty{
        justify-content: center;
        align-items: center;
        height: 10rem;
    }

    badge{
        display: inline-block;
        padding: 0.25rem 0.75em;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        vertical-align: baseline;
        border-radius: 0.125rem;
        background-color: #f5f5f5;
        margin: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #fff;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
</style>
<div class="container mundb-standard-container">
    <div style="width:100%;">        
        <h5 class="mhs-title mb-5 mt-5"><i class="MDI gift"></i> SAST 物品借还系统</h5>
        <{if $islogin}>
        <div class="input-group text-center">
                <input type="text" class="form-control" placeholder="搜索物品..." aria-describedby="basic-addon1">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-raised btn-success" aria-label="Left Align">搜索</button>
                    <a href="<{$MHS_DOMAIN}>/item/new">
                        <button type="button" class="btn btn-raised btn-info" aria-label="Left Align">发布物品</button>
                    </a>
                </div>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="./?sort=default">默认排序</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./?sort=bycount">最多借用</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./?sort=bycredit">最受好评</a>
            </li>
            <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">筛选</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">TODO</a>
                      <a class="dropdown-item" href="#">Another TODO</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
        </ul>
        <div class="row">
            <{foreach $items_info as $seq => $r}>
            <div class="col-md-4">
                <card>
                    <img class="card-img-top" src="https://img14.360buyimg.com/n0/jfs/t27172/335/2024347954/43675/4030087a/5bf51187N1182c646.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><{$r['name']}></h5>
                        <p class="card-text"><{$r['dec']}></p>
                        <div class="btn-group">
                                <button id="minus<{$seq}>" type="button" class="btn btn-sm btn-outline-secondary" disabled="disabled" onclick="
                                var count<{$seq}> = $('#count<{$seq}>').text();
                                $('#count<{$seq}>').text(--count<{$seq}>);
                                if(count<{$seq}>==1)
                                    $('#minus<{$seq}>').attr('disabled',true); //防止减到1以下
                                ">-</button>
                                <button id="count<{$seq}>" type="button" class="btn btn-sm btn-outline-secondary">1</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="
                                var count<{$seq}> = $('#count<{$seq}>').text();               
                                $('#count<{$seq}>').text(++count<{$seq}>);
                                $('#minus<{$seq}>').attr('disabled',false);
                                ">+</button>
                            </div>
                        <button class="btn btn-primary" onclick="">我想借</button>
                        <button class="btn btn-primary" onclick=""><i class="MDI cart"></i></button>
                        <br>
                        <small>借用数：<{$r['order_count']}> 评分：暂时空缺</small>
                    </div>
                </card>
            </div>
            <{/foreach}>
        </div>
        <br>
        <br>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
                </li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">下一页</a>
                </li>
            </ul>
          </nav>
        <{else}>
        <card class="mb-3">
            <div class="row atsast-empty">
                <badge onclick="location.href='<{$MHS_DOMAIN}>/account'"><i class="MDI account-circle"></i> 请先登录才能使用MHS </badge>
            </div>
        </div>
        <{/if}>
    </div>
</div>