<style>
    <{include file="MHS.css" }>
    h5{
        margin-bottom:0.25rem;
    }
    .form-control:disabled, .form-control[disabled]{
        background-color: transparent;
    }
    input{
        height: calc(2.4375rem + 2px);
    }
    .mhs-title{
        color: #7a8e97;
        text-align:center;
    }
</style>
<div class="container mundb-standard-container">
    <h5 class="mhs-title mb-5 mt-5"><i class="MDI gift"></i> SAST 物品借还系统</h5>
    <{if $islogin}>
    <{if $count_typeA !== 0}>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>你有<{$count_typeA}>笔订单更新了状态 </strong><a href="<{$MHS_DOMAIN}>/orders" class="alert-link">点击这里查看</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="
            $.post('<{$MHS_DOMAIN}>/ajax/clearchecked',{type:'A'})">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <{/if}>
    <{if $count_typeB !== 0}>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>你有<{$count_typeB}>笔订单已逾期 </strong><a href="<{$MHS_DOMAIN}>/orders" class="alert-link">点击这里查看</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="
            $.post('<{$MHS_DOMAIN}>/ajax/clearchecked',{type:'B'})">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <{/if}>
        <div class="input-group text-center">
                <input id="keyword" type="text" class="form-control" placeholder="搜索物品..." aria-describedby="basic-addon1" value="<{$keyword}>">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-raised btn-success" aria-label="Left Align" onclick="window.location.href='<{$MHS_DOMAIN}>/?keyword='+$('#keyword').val()+'<{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>&page=1<{if !empty($args['filter'])}>&filter=<{$args['filter']}><{/if}>'">搜索</button>
                    <button type="button" class="btn btn-raised btn-info" aria-label="Left Align" onclick="window.location.href='<{$MHS_DOMAIN}>/item/new'">发布物品</button>
                </div>
        </div>
        <script>
            document.querySelector("#keyword").addEventListener('keyup',function(e){
                if(e.keyCode===13){
                    window.location.href='<{$MHS_DOMAIN}>/?keyword='+$('#keyword').val()+'<{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>&page=1<{if !empty($args['filter'])}>&filter=<{$args['filter']}><{/if}>';
                }
            });
        </script>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link <{if $args['sort']==='default' || empty($args['sort'])}> active <{/if}>" href="<{$MHS_DOMAIN}>/index/?sort=default<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}>&page=1<{if !empty($args['filter'])}>&filter=<{$args['filter']}><{/if}>">默认排序</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <{if $args['sort'] === 'bycount'}> active <{/if}>" href="<{$MHS_DOMAIN}>/index/?sort=bycount<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}>&page=1<{if !empty($args['filter'])}>&filter=<{$args['filter']}><{/if}>">最多借用</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <{if $args['sort'] === 'bycredit'}> active <{/if}> " href="<{$MHS_DOMAIN}>/index/?sort=bycredit<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}>&page=1<{if !empty($args['filter'])}>&filter=<{$args['filter']}><{/if}>">信用优先</a>
            </li>
            <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">筛选</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="<{$MHS_DOMAIN}>/index/?filter=borrowable<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}>&page=1<{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>">仅看可借用</a>
                        <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="<{$MHS_DOMAIN}>/index/?filter=soldout<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}>&page=1<{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>">显示无货</a>
                      <a class="dropdown-item" href="<{$MHS_DOMAIN}>/index/?filter=credit<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}>&page=1<{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>">显示高于当前信用</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="<{$MHS_DOMAIN}>/index/?filter=mine<{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}>&page=1<{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>">我发布的</a>
                    </div>
                  </li>
        </ul>
        <{if count($items_info) == 0}>
        <br>
        <h5 class="text-center text-warning">没有搜到你找的物品哦</h5> <!-- 表达来自闲鱼 -->
        <p class="text-center">试试别的关键词</p>
        <{else}>
        <div class="row">
            <{foreach $items_info as $seq => $r}>
            <div class="col-lg-3 col-md-4 col-6">
                <card class="item-card mb-3">
                    <div>
                        <a class="card-link" href="<{$MHS_DOMAIN}>/item/detail/<{$r['iid']}>"><img class="card-img-top mhs-item-img" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>?size=400"></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mhs-item-text mundb-text-truncate-1"><{$r['name']}></h5>
                        <{if !IsMyItem($r['iid'])}>
                            <!-- 如果物品只有1个，那就禁用加号和减号 -->
                            <button id="minus<{$seq}>" type="button" class="btn btn-sm btn-primary mhs-button-count" disabled="disabled" onclick="minus(<{$seq}>,<{$r['count']}>);"><strong>-</strong></button>
                            <button id="count<{$seq}>" type="button" class="btn btn-sm btn-primary mhs-button-count">1</button>
                            <button id="add<{$seq}>" type="button" <{if $r['count'] < 2}> disabled="disabled" <{/if}> class="btn btn-sm btn-primary mhs-button-count" onclick="add(<{$seq}>,<{$r['count']}>);"><strong>+</strong></button>
                        <button class="btn btn-primary mhs-button" onclick="borrowImmediately(<{$r['iid']}>,<{$seq}>)">立即借</button>
                        <button class="btn btn-primary mhs-button" onclick="addToCart(<{$r['iid']}>,<{$seq}>);"><i class="MDI cart"></i></button>
                        <{else}>
                        <button type="button" class="btn btn-primary mhs-button" onclick="location.href='<{$MHS_DOMAIN}>/item/edit/<{$r['iid']}>'">编辑</button>
                        <button type="button" class="btn btn-warning mhs-button" onclick="
                        showDialog('您确定要下架「<{$r['name']}>」吗？','下架物品','removeItem(<{$r['iid']}>)');"><i class="MDI close-box"></i>下架</button>
                        <{/if}>
                        <!-- 分享砍了 -->
                        <div class="row">
                            <div class="col-6">
                                <small><a href="<{$MHS_DOMAIN}>/user/<{$r['owner']}>"><{$r['publisher_real_name']}></a></small>
                            </div>
                            <div class="col-6">
                                <small><{$r['order_count']}> 笔借用</small>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
            <{/foreach}>
        </div>
        <{/if}>
        <br>
        <br>
        <nav aria-label="Page navigation">
            <{if $pager !==null }>
            <ul class="pagination justify-content-center">
                <li style="display:inherit" class="page-item <{if $pager['current_page'] == $pager['prev_page']}> disabled <{/if}>">
                    <a class="page-link" href="<{$MHS_DOMAIN}>/index/?page=<{$pager['prev_page']}><{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}>" tabindex="-1"  aria-disabled="true" >首页</a>
                    <a class="page-link" href="<{$MHS_DOMAIN}>/index/?page=<{$pager['prev_page']}><{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}><{if !empty($args['filter'])}>&filter=<{$args['filter']}><{/if}>" tabindex="-1"  aria-disabled="true" >上一页</a>
                </li>
                <{foreach $pager["all_pages"] as $i}>
                    <li class="page-item <{if $i == $pager['current_page']}> active <{/if}> "><a class="page-link" href="<{$MHS_DOMAIN}>/index/?page=<{$i}><{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}><{if !empty($args['filter'])}>&filter=<{$args['filter']}><{/if}>"><{$i}></a></li>
                <{/foreach}>
                <li class="page-item <{if $pager['current_page'] == $pager['next_page']}> disabled <{/if}>">
                    <a class="page-link" href="<{$MHS_DOMAIN}>/index/?page=<{$pager['next_page']}><{if !empty($args['keyword'])}>&keyword=<{$args['keyword']}><{/if}><{if !empty($args['sort'])}>&sort=<{$args['sort']}><{/if}><{if !empty($args['filter'])}>&filter=<{$args['filter']}><{/if}>">下一页</a>
                </li>
            </ul>
            <{/if}>
          </nav>
        <{else}>
        <card class="mb-3">
            <div class="row atsast-empty">
                <badge onclick="location.href='<{$MHS_DOMAIN}>/account'"><i class="MDI account-circle"></i> 请先登录才能使用MHS </badge>
            </div>
        </card>
        <{/if}>
</div>

<script>
    <{include file="MHS_Item.js" }>
</script>