<style>
    card {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
    border-radius: 4px;
    transition: .2s ease-out .0s;
    color: #7a8e97;
    background: #fff;
    padding: 1rem;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    }
    .mhs-img-detail {
        width:10rem;
        height:10rem;
    }  
    card.mhs-card > div{
        text-align: center;
        padding: 1rem;
    }

</style>

<div class="container mundb-standard-container"> 
<h3 class="mhs-title mb-5 mt-5">创建订单</h3>
<{foreach $order_item as $seq => $r}>
<card class="mhs-card">
    <div class="row item" iid="<{$r['item_id']}>" count="<{$r['count']}>">      
            <div class="col-md-3 col-sm-12 col-12">
                    <img class="mhs-img-detail rounded float-middle" src="<{$MHS_DOMAIN}>/pic/<{$r['item_id']}>?size=400">
            </div>
            <div class="col-md-9 col-sm-12 col-12">
                    <h4 class="text-left"><a href="<{$MHS_DOMAIN}>/item/detail/<{$r['item_id']}>"><{$r['name']}></a></h4>
                    <p class="text-left">出借方：<{$r['real_name']}></p>
                    <p class="text-left">位置：<{$r['location']}></p>
                    <p class="text-left">数量：<{$r['count']}></p>
            </div>
    </div>
</card>
<{/foreach}>
<h5>总计：<{count($order_item)}> 件物品，共 <{$total_count}> 个。</h5>
<script>
    let submit=function(){
        NodeList.prototype.map=Array.prototype.map;
        document.querySelectorAll('.item').map(function(val,index,arr){
            let iid=val.getAttribute('iid');
            let count=val.getAttribute('count');
            $.post('<{$MHS_DOMAIN}>/ajax/CreateOrder',{
                iid:iid,
                count:count
            },function(data,status){
                console.log(data,status);
                if(index+1 === arr.length){
                    if(arr.length === 1){
                        data=JSON.parse(data);
                        window.location.href="<{$MHS_DOMAIN}>/order/view?oid="+data.data.oid;
                    }
                    else{
                        window.location.href="<{$MHS_DOMAIN}>/user?tab=order";
                    }
                }
            })
        });
        //TODO 以及需要在下单成功后删除购物车中对应的物品
    }
</script>
<div class="text-right">
    <button type="button" class="btn btn-outline-primary" onclick="submit()">下单</button>
</div>
</div>