<style>
    <{include file="MHS.css" }>
    timeline {
        display: block;
        padding: 3em 2em 2em;
        position: relative;
        color: rgba(0, 0, 0, 0.7);
        border-left: 0.1rem solid rgba(0, 0, 0, 0.3);
    }
    timeline p {
        font-size: 1rem;
    }
    timeline::before {
        content: attr(date);
        position: absolute;
        left: 2rem;
        font-weight: bold;
        top: 1rem;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: .785rem;
        line-height: 1rem;
    }
    timeline::after {
        width: 1rem;
        height: 1rem;
        display: block;
        top: 1rem;
        position: absolute;
        left: -0.55rem;
        border-radius: 10px;
        content: '';
        border: 0.1rem solid rgba(0, 0, 0, 0.3);
        background: white;
    }
    timeline:last-child {
        border-image-source: linear-gradient(rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0));
        border-image-slice: 1 0 0 100%;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-width: 0.1rem;
    }
    .time-line-card {
        padding: 1rem;
    }
    card.mhs-card > div{
        padding: 1rem;
    }
    @media all and (max-width:1200px) and (min-width:992px){
        .responsive>div{
            min-width: 700px;
            float: right;
        }
    }
    @media all and (max-width:992px) and (min-width:768px){
        .responsive>div{
            width: 500px;
            float: right;
        }
    }
    @media all and (max-width:767px) and (min-width:540px){
        .responsive>div{
            width: 300px;
            float: right;
        }
    }
    @media all and (max-width:540px){
        .responsive>div{
            width: 150px;
            float: right;
        }
    }
</style>

<div class="container mundb-standard-container">
    <h3 class="mhs-title mb-5 mt-5">订单详情</h3>
    <{if $order['scode'] == 1}>
        <{if $order['renter_id'] == $userinfo['uid']}>
        <div class="jumbotron alert-info">
            <h1><strong>等待取用</strong></h1>
            <p class="lead">请到指定地点或与出借方联系以取得物品，取得后点击"确认取用"后开始计算归还时间。</p>
            <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#Confirm">确认取用</button>
            <button class="btn btn-lg btn-warning" data-toggle="modal" data-target="#Cancel">取消订单</button>
        </div>
        <{else}>
        <div class="jumbotron alert-info">
            <h1><strong>等待取用</strong></h1>
            <p class="lead">请到指定地点或与借用方联系以出借物品，并提醒点击"确认取用"后开始计算归还时间。</p>
        </div>
        <{/if}>
    <{else if $order['scode'] == 2}>
        <{if $order['renter_id'] == $userinfo['uid']}>
        <div class="jumbotron alert-primary">
            <h1><strong>等待归还</strong></h1>
            <p class="lead">请在2019/1/28 13:00 前发起归还，并提醒出借人确认归还</p>
        </div>
        <{else}>
        <div class="jumbotron alert-primary">
            <h1><strong>等待归还</strong></h1>
            <p class="lead">物品将于2019/1/28 13:00 前归还，请在借用人归还后点击"确认归还"</p>
            <button class="btn btn-lg btn-warning" data-toggle="modal" data-target="#Return">确认归还</button>
        </div>
        <{/if}>
    <{else if $order['scode'] == 5}>
    <div class="jumbotron alert-warning">
        <h1><strong>订单已取消</strong></h1>
        <p class="lead">该订单已被取消</p>
    </div>
    <{else if $order['scode'] == 6}>
    <div class="jumbotron alert-danger">
        <h1><strong>订单已超时</strong></h1>
        <p class="lead">该订单已超时</p>
    </div>
    <{else if $order['scode'] == 4}>
    <div class="jumbotron alert-success">
        <h1><strong>订单已完成</strong></h1>
        <p class="lead">该订单已完成</p>
    </div>
    <{else if $order['scode'] == 3}>
        <{if $order['renter_id'] == $userinfo['uid']}>
            <{if !strlen($order['renter_review'])}>
                <div class="jumbotron alert-info">
                    <h1><strong>订单等待您的评价</strong></h1>
                    <p class="lead">该物品已归还</p>
                    <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#Review">我要评价</button>
                </div>
            <{else}>
                <div class="jumbotron alert-info">
                    <h1><strong>订单等待出借人的评价</strong></h1>
                    <p class="lead">该物品已归还</p>
                </div>
            <{/if}>
        <{else}>
            <{if !strlen($order['owner_review'])}>
                <div class="jumbotron alert-info">
                    <h1><strong>订单等待您的评价</strong></h1>
                    <p class="lead">该物品已归还</p>
                    <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#Review">我要评价</button>
                </div>
            <{else}>
                <div class="jumbotron alert-info">
                    <h1><strong>订单等待借用人的评价</strong></h1>
                    <p class="lead">该物品已归还</p>
                </div>
            <{/if}>
        <{/if}>
    <{/if}>
    <card class="time-line-card">
        <!--timeline待order表增加return_time字段后再增加一个成功归还-->
        <{if $order['scode'] == 6}>
        <timeline date="<{$order['due_time']}>">
            <h3>物品超时未归还</h3>
            <p>请在<{$order['due_time']}>前发起归还。</p>
        </timeline>
        <{else if $order['scode'] == 5}>
        <timeline date="<{$order['return_time']}>">
            <h3>该订单已被取消</h3>
            <p>订单已取消，感谢您的使用</p>
        </timeline>
        <{else if $order['scode'] == 4}>
        <timeline date="<{date('Y-m-d H:i:s',strtotime('now'))}>">
            <h3>该订单已完成</h3>
            <p>物品已于<{$order['return_time']}>归还。</p>
        </timeline>
        <{/if}>
        <{if $order['scode'] == 3 || $order['scode'] == 4}>
        <timeline date="<{$order['return_time']}>">
            <h3>物品已归还</h3>
            <p>该订单等待您的评价</p>
        </timeline>
        <{/if}>
        <{if $order['scode'] > 1 && $order['scode'] != 5}>
        <timeline date="<{$order['rent_time']}>">
            <h3>等待归还</h3>
            <p>请在<{$order['due_time']}>前发起归还。</p>
        </timeline>
        <{/if}>
        <timeline date="<{$order['create_time']}>">
            <h3>等待取用</h3>
            <p>请到指定地点或与出借方联系以取得物品。</p>
        </timeline>
    </card>

    <card class="order-card">
        <div class="row">
            <div class="col-2">
                <img class="mhs-item-img-order rounded float-left" src="<{$MHS_DOMAIN}>/pic/<{$order['iid']}>?size=400">
            </div>
            <div class="col-10 responsive">
                <div>
                    <h3><{$order['name']}></h3>
                    <p><{$order['dec']}></p>
                </div>
            </div>
        </div>
        <table class="table table-borderless table-hover">
            <tbody>
            <tr>
                <th scope="row">订单编号</th>
                <td id="oid"><{$order['oid']}></td>
            </tr>
            <tr>
                <th scope="row"><i class="MDI clock"></i>创建时间</th>
                <td><{$order['create_time']}></td>
            </tr>
            <tr>
                <th scope="row">出借人</th>
                <td><{$order['real_name']}></td>
            </tr>
            <tr>
                <th scope="row">借用时限</th>
                <td><{$order['limit_time']}>天</td>
            </tr>
            <tr>
                <th scope="row">物品地点</th>
                <td><strong><{$order['location']}></strong></td>
            </tr>
            </tbody>
        </table>
    </card>
</div>

<script>
    function confirm(){
        let oid=document.querySelector('#oid').innerText;
        $.post("<{$MHS_DOMAIN}>/ajax/OperateOrder",{oid:oid,operation:'confirm'},function(data,status){
            console.log(data,status);
        });
        window.location.reload();
    }
    function cancel(){
        let oid=document.querySelector('#oid').innerText;
        $.post("<{$MHS_DOMAIN}>/ajax/OperateOrder",{oid:oid,operation:'cancel'},function(data,status){
            console.log(data,status);
        });
        window.location.reload();
    }
    function _return(){
        let oid=document.querySelector('#oid').innerText;
        $.post("<{$MHS_DOMAIN}>/ajax/OperateOrder",{oid:oid,operation:'return'},function(data,status){
            console.log(data,status);
        });
        window.location.reload();
    }
    function review(comment){
        let oid=document.querySelector('#oid').innerText;
        $.post("<{$MHS_DOMAIN}>/ajax/ReviewOrder",{oid:oid,review:comment},function(data,status){
            console.log(data,status);
        });
        window.location.reload();
    }
</script>

<div class="modal fade" id="Confirm" tabindex="-1" role="dialog" aria-labelledby="Confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">确认取用</h5>
            </div>
            <div class="modal-body">
                <p>您确定取得物品了吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="confirm()">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Cancel" tabindex="-1" role="dialog" aria-labelledby="Cancel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">确认取消</h5>
            </div>
            <div class="modal-body">
                <p>您确定取消该订单吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="cancel()">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Return" tabindex="-1" role="dialog" aria-labelledby="Return" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">确认归还</h5>
            </div>
            <div class="modal-body">
                <p>您确定物品已归还了吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="_return()">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Review" tabindex="-1" role="dialog" aria-labelledby="Review" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">我要评价</h5>
            </div>
            <div class="modal-body">
                <p>您想给这次借用怎样的评价呢?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="review('-1')">差评</button>
                <button type="button" class="btn btn-primary" onclick="review('0')">中评</button>
                <button type="button" class="btn btn-primary" onclick="review('1')">好评</button>
            </div>
        </div>
    </div>
</div>