<style>
    timeline {
        display: block;
        padding: 3em 2em 2em;
        position: relative;
        color: rgba(0, 0, 0, 0.7);
        border-left: 0.1rem solid rgba(0, 0, 0, 0.3);
    }

    timeline p {
        font-size: 1rem;
    }

    timeline::before {
        content: attr(date);
        position: absolute;
        left: 2rem;
        font-weight: bold;
        top: 1rem;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: .785rem;
        line-height: 1rem;
    }

    timeline::after {
        width: 1rem;
        height: 1rem;
        display: block;
        top: 1rem;
        position: absolute;
        left: -0.55rem;
        border-radius: 10px;
        content: '';
        border: 0.1rem solid rgba(0, 0, 0, 0.3);
        background: white;
    }


    timeline:last-child {
        border-image-source: linear-gradient(rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0));
        border-image-slice: 1 0 0 100%;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-width: 0.1rem;
    }

    card {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #fff;
        padding: 1rem;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;
    }
    .mhs-img-detail {
        width:15rem;
        height:15rem;
    }

    card.mhs-card > div{
        text-align: center;
        padding: 1rem;
    }
</style>

<div class="container mundb-standard-container">
    <h3 class="mhs-title mb-5 mt-5">订单详情</h3>
    <div class="jumbotron alert-info">
        <h1><strong>等待取用</strong></h1>
        <p class="lead">请到指定地点或与出借方联系以取得物品，取得后点击"确认取用"后开始计算归还时间。</p>
        <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#Confirm">确认取用</button>
        <button class="btn btn-lg btn-warning" data-toggle="modal" data-target="#Confirm">取消订单</button>
    </div>
    <card class="mhs-card">
        <timeline date="2019/1/25 13:00">
            <h3>等待归还</h3>
            <p>请在2019/1/28 13:00 前发起归还。</p>
        </timeline>
        <timeline date="2019/1/25 12:00">
            <h3>等待取用</h3>
            <p>请到指定地点或与出借方联系以取得物品。</p>
        </timeline>
    </card>

    <card class="mhs-card">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-12">
                <img class="mhs-img-detail rounded float-middle" src="<{$MHS_DOMAIN}>/pic/<{$r['item_id']}>?size=400">
            </div>
            <div class="col-md-9 col-sm-12 col-12">
                <h4 class="text-left"><{$order['name']}></h4>
                <p class="text-left"><{$order['dec']}></p>
            </div>
        </div>
    </card>
    <card class="mhs-card">
        <table class="table table-borderless table-hover">
            <tbody>
            <tr>
                <th scope="row">订单编号</th>
                <td><{$order['oid']}></td>
            </tr>
            <tr>
                <th scope="row"><i class="MDI clock"></i>创建时间</th>
                <td><{$order['create_time']}></td>
            </tr>
            <tr>
                <th scope="row">出借人</th>
                <td><{$order['real_name']}></td>
            </tr>
            <tr>
                <th scope="row">借用时限</th>
                <td><{$order['limit_time']}>天</td>
            </tr>
            <tr>
                <th scope="row">物品地点</th>
                <td><strong><{$order['location']}></strong></td>
            </tr>
            </tbody>
        </table>
    </card>
</div>


<div class="modal fade" id="Confirm" tabindex="-1" role="dialog" aria-labelledby="Confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">确认取用</h5>
            </div>
            <div class="modal-body">
                <p>您确定取得物品了吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>