<style>
    card {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
    border-radius: 4px;
    transition: .2s ease-out .0s;
    color: #7a8e97;
    background: #fff;
    padding: 1rem;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    }
    .mhs-img-detail {
        width:10rem;
        height:10rem;
    }  
    card.mhs-card > div{
        text-align: center;
        padding: 1rem;
    }

</style>

<div class="container mundb-standard-container"> 
<h3 class="mhs-title mb-5 mt-5">创建订单</h3>
<{foreach $order_item as $seq => $r}>
<card class="mhs-card">
    <div class="row">      
            <div class="col-md-3 col-sm-12 col-12">
                    <img class="mhs-img-detail rounded float-middle" src="<{$MHS_DOMAIN}>/pic/<{$item['item_id']}>?size=400">
                    <!-- https://img14.360buyimg.com/n0/jfs/t1/4460/2/3458/153299/5b997bf0Ed101778b/2361563781a99acb.jpg -->
            </div>
            <div class="col-md-9 col-sm-12 col-12">
                    <h4 class="text-left"><a href="../item/detail/<{$r['item_id']}>"><{$r['name']}></a></h4>
                    <p class="text-left">出借方：<{$r['real_name']}></p>
                    <p class="text-left">位置：<{$r['location']}></p>
                    <p class="text-left">数量：<{$r['count']}></p>
            </div>
    </div>
</card>
<{/foreach}>
<h5>总计：<{count($order_item)}> 件物品，共 <{$total_count}> 个。</h5>
<div class="text-right">
    <button type="button" class="btn btn-outline-primary ">下单</button>
</div>
</div>