<style>
    <{include file="MHS.css" }>

    avatar{
        display: block;
        position: relative;
        text-align: center;
        height: 8rem;
    }

    avatar > img{
        display: block;
        width:8rem;
        height:8rem;
        border-radius: 2000px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        top:0%;
        left:0;
        right:0;
        position: absolute;
        margin: auto;
    }


    hr.atsast-line{
        width: auto;
        margin-left:1rem;
        margin-right: 1rem;
    }

    .tab .card-header{
        padding:0;
        border-radius: 4px;
    }
    .tab .card-header > ul{
        margin:0;
    }

    .tab .card-header > ul .nav-link{
        padding:1rem;
    }

    @media all and (min-width:768px){
        .tab .card-header > ul .nav-link{
            font-size: medium;
        }
    }

    .tab .card-header .nav-tabs .nav-link.active {
        color: #D32F2F;
        border-color: #FF5252;
    }

    #userTab{
        position:relative;
    }
    .mhs-item-img {
        max-width:15rem;
        max-height:15rem;
    }

</style>

<div class="container mundb-standard-container"> 
    <h2 class="mhs-title mb-5 mt-5"><{if $isMe}>个人中心<{else}><{$call}>的主页<{/if}></h2>
    <div class="tab">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-justified nav-tabs-material" id="userTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link <{ if $current_tab=='basic' }>active<{/if}>" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">
                        基本信息</a>
                </li>
                <{if $isMe}>
                <li class="nav-item">
                    <a class="nav-link <{ if $current_tab=='order' }>active<{/if}>" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false">
                        我的订单</a>
                </li>
                <{/if}>
                <li class="nav-item">
                    <a class="nav-link <{ if $current_tab=='item' }>active<{/if}>" id="item-tab" data-toggle="tab" href="#item" role="tab" aria-controls="item" aria-selected="false">
                        <{$call}>发布的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <{ if $current_tab=='review' }>active<{/if}>" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">
                        <{$call}>的评价</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="userTabContent">
            <div class="tab-pane fade <{ if $current_tab=='basic' }>show active<{/if}>" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <div class="card-body">
                        <card>
                        <div class="row text-center" style="padding:5%">
                            <div class="col-md-4">
                                <avatar><img src="<{$userinfo['avatar']}>"></avatar>
                                <h3 class="text-center"><{$uinfo['name']}></h3>
                                <p class="text-center"><{$uinfo['real_name']}></p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$uinfo['credit']}></h1>
                                            <p>信用分</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['br_count']}></h1>
                                            <p>借用数</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['pb_count']}></h1>
                                            <p>发布数</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['good_count']}></h1>
                                            <p>好评数</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['mid_count']}></h1>
                                            <p>中评数</p>
                                        </statistic>
                                    </div>
                                    <div class="col-4">
                                        <statistic>
                                            <h1><{$wtf_info['bad_count']}></h1>
                                            <p>差评数</p>
                                        </statistic>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </card>
                    </div>
            </div>
            <{if $isMe}>
            <div class="tab-pane fade <{ if $current_tab=='order' }>show active<{/if}>" id="order" role="tabpanel" aria-labelledby="order-tab">
                    <{foreach $orders as $key => $r}>    
                    <div class="card-body">
                            <card class="order-card">
                                <div class="row">
                                    <div class="col-4"><p class="text-left"><{$r['create_time']}></p></div>
                                    <div class="col-4"><p><{$r['real_name']}></p></div>
                                    <div class="col-4"><p class="text-right text-success">交易成功</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <img class="img-fluid" alt="Responsive image" src="<{$MHS_DOMAIN}>/pic/<{$r['item_id']}>?size=400">
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <h4 class="text-left"><a href="order/view/?oid=<{$r['oid']}>"><{$r['name']}></a></h4>
                                        <p class="text-left">订单号：<{$r['oid']}></p>
                                    </div>
                                </div>
                            </card>
                    </div>
                    <{/foreach}>
            </div>
            <{/if}>
            <div class="tab-pane fade <{ if $current_tab=='item' }>show active<{/if}>" id="item" role="tabpanel" aria-labelledby="item-tab">
                <div class="card-body">
                    <div class="row">
                        <{foreach $items_info as $seq => $r}>
                            <{if $isMe}>
                            <div class="col-lg-3 col-md-4 col-6">
                                <card class="item-card text-center mb-3">
                                    <div>
                                    <a class="card-link" href="<{$MHS_DOMAIN}>/item/detail/<{$r['iid']}>"><img class="card-img-top mhs-item-img" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>?size=400"></a>
                                    </div>
                                        <h5 class="card-title mhs-item-text mundb-text-truncate-1"><{$r['name']}></h5>
                                        <{if $r['scode'] == -1}>
                                        <button type="button" class="btn btn-primary mhs-button" onclick="location.href='<{$MHS_DOMAIN}>/item/edit/<{$r['iid']}>'">编辑</button>
                                        <button type="button" class="btn btn-success mhs-button" onclick="
                                        showDialog('您确定要上架「<{$r['name']}>」吗？','上架物品','restoreItem(<{$r['iid']}>)');"><i class="MDI check"></i>上架</button>
                                        <{else}>
                                        <button type="button" class="btn btn-primary mhs-button" onclick="location.href='<{$MHS_DOMAIN}>/item/edit/<{$r['iid']}>'">编辑</button>
                                        <button type="button" class="btn btn-warning mhs-button" onclick="
                                                showDialog('您确定要下架「<{$r['name']}>」吗？','下架物品','removeItem(<{$r['iid']}>)');"><i class="MDI close-box"></i>下架</button>
                                        <{/if}>
                                </card>
                            </div>
                            <{else if $r['scode'] != -1}>
                            <div class="col-lg-3 col-md-4 col-6">
                                <card class="item-card text-center mb-3">
                                    <div>
                                    <a class="card-link" href="<{$MHS_DOMAIN}>/item/detail/<{$r['iid']}>"><img class="card-img-top mhs-item-img" src="<{$MHS_DOMAIN}>/pic/<{$r['iid']}>?size=400"></a>
                                    </div>
                                        <h5 class="card-title mhs-item-text mundb-text-truncate-1"><{$r['name']}></h5>
                                </card>
                            </div>
                            <{/if}>
                        <{/foreach}>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade <{ if $current_tab=='review' }>show active<{/if}>" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <div class="card-body">
                        <div class="atsast-empty">
                            <badge>暂未开放功能</badge>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
    <{include file="MHS_Item.js" }>
</script>